<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>');
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>
    <h1>Create a new Charachter!</h1>
    <form action="" method="post" name="create">
        {{ form.hidden_tag() }}
        <p>
            Name:<br>
            {{ form.name(size=40) }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Class:<br>
            {{ form.type(size=10) }}
            {% for error in form.type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            XP Amount:<br>
            {{ form.xp(size=10) }}
            {% for error in form.xp.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Create"></p>
    </form>
{% endblock %}
